html, body {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(45deg, #ff0000, #ff9900, #33cc33, #3399ff, #9900cc, #ff0066);
    background-repeat: no-repeat;
    background-size: cover;
    color: #e0e0e0;
    background-attachment: fixed;
}

.main-content {
    background-color: transparent !important;
}

.sidebar {
    background-color: #ff0000;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.7);
}

.sidebar .nav-link {
    color: #ffffff;
}

.sidebar.collapsed .nav-link {
    color: #ffffff;
}

.main-content {
    background-color: #33cc33;
}

.lesson,
.activity {
    background-color: #33cc33;
    border-left: 5px solid #3399ff;
    box-shadow: 0 0 5px rgba(51, 204, 51, 0.5);
}

.lesson:hover {
    background-color: #3399ff;
    box-shadow: 0 0 10px rgba(51, 153, 255, 0.8);
}

.btn,
.modal-footer .btn {
    background-color: #ff0066;
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 0, 102, 0.7);
}

.btn:hover,
.modal-footer .btn:hover {
    background-color: #ff0099;
    box-shadow: 0 0 15px rgba(255, 0, 153, 1);
}

.warning {
    color: #ff5722;
}

.warning:hover .warningMessage {
    background-color: #ff5722;
}

.warningMessage {
    background-color: #ff5722;
    color: white;
}

.bottom-bar {
    background-color: #9900cc;
    box-shadow: 0 0 15px rgba(153, 0, 204, 0.7);
}

.bottom-bar .nav-link {
    color: white;
}

.bottom-bar .nav-link i {
    font-size: 24px;
}

.form-label {
    color: #ff9900;
}

.form-check-label {
    color: #e0e0e0;
}

.modal-header {
    background-color: #ff0066;
    color: white;
    box-shadow: 0 0 10px rgba(255, 0, 102, 0.8);
}

.modal-body {
    background-color: #3399ff;
    color: #e0e0e0;
}

.modal-footer .btn {
    background-color: #ff0066;
    color: white;
    box-shadow: 0 0 10px rgba(255, 0, 102, 0.7);
}

.modal-footer .btn:hover {
    background-color: #ff0099;
    box-shadow: 0 0 15px rgba(255, 0, 153, 1);
}

.modal-body .form-control {
    background-color: #ff9900;
    color: #e0e0e0;
    border: 1px solid #ff0000;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.modal-body .form-control:focus {
    border-color: #ff5722;
    box-shadow: 0 0 10px rgba(255, 87, 34, 0.7);
}

#error-message {
    color: #ff5722;
}

.modal-body .form-control:focus {
    border-color: black;
}

.modal-title {
    color: white;
}
