html, body {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(45deg, #ff0000, #ff4d4d, #ff1515);
    background-repeat: no-repeat;
    background-size: cover;
    color: #e0e0e0;
    background-attachment: fixed;
}

.main-content {
    background-color: transparent !important;
}

.sidebar {
    background-color: #c62828;
}

.sidebar .nav-link {
    color: #ffffff;
}

.sidebar.collapsed .nav-link {
    color: #ffffff;
}

.main-content {
    background-color: #121212;
}

.lesson,
.activity {
    background-color: #333333;
    border-left: 5px solid #c62828;
}

.lesson:hover {
    background-color: #444444;
}

.btn,
.modal-footer .btn {
    background-color: #c62828;
    color: #fff;
}

.btn:hover,
.modal-footer .btn:hover {
    background-color: #b71c1c;
}

.warning {
    color: #ff5722;
}

.warning:hover .warningMessage {
    background-color: #ff5722;
}

.warningMessage {
    background-color: #ff5722;
    color: white;
}

.bottom-bar {
    background-color: #c62828;
}

.bottom-bar .nav-link {
    color: white;
}

.bottom-bar .nav-link i {
    font-size: 24px;
}

.form-label {
    color: #c62828;
}

.form-check-label {
    color: #e0e0e0;
}

.modal-header {
    background-color: #c62828;
    color: white;
}

.modal-body {
    background-color: #333333;
    color: #e0e0e0;
}

.modal-footer .btn {
    background-color: #c62828;
    color: white;
}

.modal-footer .btn:hover {
    background-color: #b71c1c;
}

.modal-body .form-control {
    background-color: #555555;
    color: #e0e0e0;
    border: 1px solid #c62828;
}

.modal-body .form-control:focus {
    border-color: #ff5722;
    box-shadow: 0 0 0 0.2rem rgba(255, 87, 34, 0.25);
}

#error-message {
    color: #ff5722;
}

.modal-body .form-control:focus {
    border-color: black;
}

.modal-title {
    color: white;
}

.btn-outline-primary {
    --bs-btn-border-color: transparent;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-bg: red;
    --bs-btn-active-border-color: red;
}

.btn {
    --bs-btn-border-color: red;
    --bs-btn-hover-border-color: red;
}

#vaknaam, #timeSlot {
    color:#b71c1c !important;
}

#logo-side {
    filter: brightness(0) invert(1);
}
